

html.fsvs {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

html.fsvs #fsvs-body {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

html.fsvs #fsvs-body > * {
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

html.fsvs #fsvs-pagination {
    margin: 0;
    padding: 8px 0;
    position: absolute;
    height: auto;
    right: 20px!important;
    top: 50%;
    z-index: 999;
    width: 10px;
    -webkit-animation-duration: .8s;
    -o-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

html.fsvs #fsvs-pagination li {
    position: relative;
    list-style: none;
    width: 10px;
    height: 10px;
    text-align: center;
    margin: 38px 0;
    cursor: pointer;
}

html.fsvs #fsvs-pagination li > span {
    border-radius: 100%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    display: block;
}

html.fsvs #fsvs-pagination li > span > span {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    line-height: 10px;
    border: 2px solid #fff;
    display: block;
    margin: 0px;
}

html.fsvs #fsvs-pagination li.active > span {
}

html.fsvs #fsvs-pagination li.active > span > span {
    background: #fff;
}

html.fsvs #fsvs-pagination li:last-child {
    margin: 0;
}

/* Jon's Code */

body {
  font: 18px/30px Lato,sans-serif;
}

#slide1 { 
    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#slide2 { 
  background: #B993D6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #B993D6 , #8CA6DB); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #B993D6 , #8CA6DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#slide3 { 
    background: #FBD3E9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FBD3E9 , #BB377D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FBD3E9 , #BB377D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.video-wrapper {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: .1; 
}

video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.slide-content-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.slide-content {
    max-width: 850px;
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    padding: 20px 70px;
    margin: 0 auto;
    z-index: 3;
}
 

.slide-content-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.slide-content h2 {
    margin: 0;
    color: #fff;
    font-size: 3.8em;
    font-weight: 300;
    line-height: 1.1;
}

.category { 
    display: block;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.6em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    margin-bottom: 8px;
  }


a {
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-weight: 300;
  outline: none;
}

a, a:active, a:visited {
  color: $link-color;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: darken(red, 10%);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.btn, a.btn {
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    text-align: center;
    font-size: .7em;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.4em;
    letter-spacing: 3px;
    padding: 14px 35px;
    background: 0 0;
    border: thin solid #fff;
    border-radius: 2px;
    -webkit-font-smoothing: antialiased;
}

span.inactive {
    display: none;
}

.btn-inverse:hover {
    background-color: #fff;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    color:#80c2da;
}



@media(min-width:768px) {
  .slide-content-inner .btn {
    margin-top: 38px;
  }
 
}